.ancButton {
    text-Decoration: 'none';
    cursor: pointer;
    display: 'inline-block';
}

.ancButton:hover {
    font-weight: 600;
    color: rgb(50, 50, 55);
}

.wpinput {
    border-radius: .4em;
    border: solid rgb(195, 191, 191) .002em;
    background: rgb(237, 237, 242);
}

.generalInputs {
    float: right;
}

.inputsContainer {
    margin-top: 2em;
    width: 25vw;
}

.btn {
    margin-top: 1em;
    margin-left: 19.6em;
}

.waypointsP {
    margin: .4em;
    text-align: right;

    color: rgb(8, 39, 117);
}

.wayPointsList {
    background: rgb(247, 228, 189);
    width: 15vw;
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .4em;
}

.label {
    float: left;
}

.minusBtn {
    display: inline-block;
    border-radius: .3em;
    width: 1em;
    text-align: center;
    
    background: rgb(240, 186, 85);
    color: rgb(143, 8, 8);
}