.container {
    height: 100%;
    display: flex;
  }
  
  .sidebar {
    flex-basis: 15rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: 30rem;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  
  .map {
    margin-top:3em;
    flex-basis: 0;
    flex-grow: 1;
    height: 60vh;
  }

  .codeBlock
  {
    float: left;
  }